.footer
{

   position: fixed;
   left: 4px;
   bottom: 0;
   width: 99%;
   height: 20px;
   background-color: white;
   color: black;
   font-size: 20;
   text-align: center;
   border: dashed blue;
   padding:5px;

	
}


