#header
{
background:white;
min-height: 5rem;
font-family: Calibri;
font-size: 48;
display: block;
border-width: 5px;
border-style:dashed;
border-color:blue;
position: fixed;
z-index: 2;
	
}



.myheader {
  padding: 10px;


}
body {
  margin: 0;
}



