#header
{
	background:white;
	height: 5rem;
	font-family: Calibri;
	font-size: 48;
	
	 display: block;
	
	border-width: 5px;
	border-style:dashed;
	border-color:blue;
	margin-left:auto;
	margin-right:auto;
	
	position: absolute;
	
}



.myheader {
  padding: 10px 16px;


}
body {
  margin: 0;
}



